body {
	font-family: Kozuka Gothic, sans-serif;
}

#action {
	width: 100vw;
}

#left-col {
	background: #D3D3D3;
	width: 10vw;
	float: left;
}

#mid-col {
	background: #808080;
	width: 45vw;
	display: inline-block;
	box-sizing: border-box; /* Prevent padding from changing size */
	padding: 1vh 1vw 1vh 1vw;
}

#right-col {
	background: #4040ff;
	width: 45vw;
	float: right;
	box-sizing: border-box;
	padding: 1vh 1vw 1vh 1vw;
}

.form-row {
	display: inline-block;
}

input[type=text] {
	padding: 0.5em;
	border: solid 1px #dcdcdc;
	transition: box-shadow 0.3s, border 0.3s;
}

input[type=text]:focus {
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

#game-choice-form input[type=radio] + label {
	/* Game unselected and not hovering */
	background: #D3D3D3;
	color: #808080;
}

#game-choice-form input[type=radio] + label:hover {
	/* Game unselected and hovering */
	background: white;
}

#game-choice-form input[type=radio]:checked + label {
	/* Game selected and not hovering */
	background: #ffcc33;
	color: #6666ff;
}

#game-choice-form input[type=radio]:checked + label:hover {
	/* Game selected and hovering */
	background: #e7af07;
}

#game-choice-form input[type=radio] {
	display: none;
}

#game-choice-form label {
	display: block;
	font-size: 2em;
	line-height: 15vh;
	height: 15vh;
}

#search-results {
	list-style-type: none;
	padding: 0;
}

#search-results li, #your-choices li {
	overflow: hidden; /* Prevent inner divs from spilling out below */
	margin: 1vh auto 1vh auto;
	border: 1px solid black;
	border-radius: 1em;
	box-sizing: border-box; /* Prevent padding from changing size */
	padding: 1vh 1vw 1vh 1vw;
}

#search-results li:hover, #your-choices li:hover {
	background: #D3D3D3;
}

.smasher-info {
	float: left;
	width: 40%;
}

.smasher-popularity {
	display: inline-block;
	width: 20%;
	text-align: center;
	font-size: 2em;
}

.smasher-buttons {
	float: right;
	width: 40%;
	text-align: center;
	font-size: 1em;
}

.smasher-buttons > div {
	/* Style buttons */
	padding: 0 0.5em 0 0.5em;
	margin: 0 0.5em 0 0.5em;
	display: inline-block;
}

.preview {
	margin-bottom: 1vh;
}

.details {
	margin-top: 1vh;
}

.details table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background: #b8b8ff;
}

.details table tr:hover {
	background: #8b8bff;
}