#splash {
	background: url("../img/bigcrowd.jpg") no-repeat center center fixed;
	background-size: 100%;
	background-color: black;
	padding-top: 5vh;
	width: 100vw;
	height: 110vh;
}
/*
div::after {
	content: "";
	background: url("../img/bigcrowd.jpg") no-repeat center center fixed;
	background-color: black;
	background-size: 100%;
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}*/

#splash #message {
	width: 40vw;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto 8vh auto;
}

#splash h1, #splash h2 {
	text-align: center;
	font-family: Kozuka Gothic, sans-serif;
	font-size: 3vw;
	color: white;
}

#splash h1 {
	font-size: 6vw;
	margin-top: 0;
}

.button-container {
	display: inline-block;
	width: 100vw;
}

#explanation p, #explanation h6 {
	font-size: 2vw;
	font-family: Kozuka Gothic, sans-serif;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
}

#explanation h6 {
	font-size: 1vw;
}