@font-face {
    font-family: Kozuka Gothic;
    src: url(kozuka-gothic.otf);
}

#splash {
	background: black;
	padding-top: 5vh;
	width: 100vw;
	height: 100vh;
}

#splash #message {
	width: 40vw;
	margin-left: auto;
	margin-right: auto;
}

#splash h1, #splash h2 {
	text-align: center;
	font-family: Kozuka Gothic, sans-serif;
	font-size: 4em;
	color: white;
}

#splash h1 {
	font-size: 6em;
	margin-bottom: 0.5em;
	margin-top: 0;
}

#splash #buttons {
	display: inline-block;
	width: 100vw;
	margin-top: 1em;
}

/* Colors: #6666FF and #FFCC33 */
/* http://css3buttongenerator.com/ */
/* http://paletton.com/ */

.btn {
	font-family: Kozuka Gothic, sans-serif;
}

.btn-style-1 {
	background: #6666ff;
	background-image: -webkit-linear-gradient(top, #6666ff, #4040ff);
	background-image: -moz-linear-gradient(top, #6666ff, #4040ff);
	background-image: -ms-linear-gradient(top, #6666ff, #4040ff);
	background-image: -o-linear-gradient(top, #6666ff, #4040ff);
	background-image: linear-gradient(to bottom, #6666ff, #4040ff);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 1em;
	color: #ffffff;
	font-size: 2em;
	padding: 0.25em 1em 0.5em 1em;
}

.btn-style-1:hover {
	background: #b8b8ff;
	background-image: -webkit-linear-gradient(top, #b8b8ff, #8b8bff);
	background-image: -moz-linear-gradient(top, #b8b8ff, #8b8bff);
	background-image: -ms-linear-gradient(top, #b8b8ff, #8b8bff);
	background-image: -o-linear-gradient(top, #b8b8ff, #8b8bff);
	background-image: linear-gradient(to bottom, #b8b8ff, #8b8bff);
	text-decoration: none;
}

.btn-style-2 {
	background: #ffcc33;
	background-image: -webkit-linear-gradient(top, #ffcc33, #e7af07);
	background-image: -moz-linear-gradient(top, #ffcc33, #e7af07);
	background-image: -ms-linear-gradient(top, #ffcc33, #e7af07);
	background-image: -o-linear-gradient(top, #ffcc33, #e7af07);
	background-image: linear-gradient(to bottom, #ffcc33, #e7af07);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 1em;
	color: #ffffff;
	font-size: 2em;
	padding: 0.25em 1em 0.5em 1em;
	text-decoration: none;
}

.btn-style-2:hover {
	background: #ffd559;
	background-image: -webkit-linear-gradient(top, #ffd559, #ffe082);
	background-image: -moz-linear-gradient(top, #ffd559, #ffe082);
	background-image: -ms-linear-gradient(top, #ffd559, #ffe082);
	background-image: -o-linear-gradient(top, #ffd559, #ffe082);
	background-image: linear-gradient(to bottom, #ffd559, #ffe082);
	text-decoration: none;
}