<div class="jumbotron splash">
    <div class="container text-center frosting">
        <h1>FANTASY SMASH BROS</h1>
        <h2 style="min-height:20vh">SUPER SMASH CON 2015</h2>
        <p class="lead" style="min-height:20vh">Think you know who's gonna be the Smash Bros champ? Think you know who's gonna take it all?</p>
        
        <!-- Buttons -->
        <div class="row">
            <div class="col-sm-6">
                <a href="/login">
                    <button class="btn btn-primary splash-btn">
                        <big>LET'S GO!</big>
                    </button>
                </a>
            </div>
            
            <div class="col-sm-6">
                <a href="#" id="explanation-btn">
                    <button class="btn btn-info splash-btn">
                        <big>HOW DOES IT WORK?</big>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 id="explanation">What is Fantasy Smash Bros?</h2>

    <p><big>The premise is simple: for each Smash game, choose six Smashers who you think will perform well. Only those who place in the top 32 of their respective game will earn points. And the better a Smasher whom you chose places, the more points you earn!</big></p>

    <p><big>But there's a catch! As more and more people choose a Smasher, the less points each person can potentially earn from that Smasher placing well. You might consider taking a risk and pick a less-popular Smasher: instead of betting on <span title="Z I P B O Y S">Leffen</span>, <span title="40-some first places in a row. Wow.">Zero</span>, or <span title="lol m2k">Mew2king</span>, you could consider picking <span title="my b">Chillin</span>, <span title="The year of Luigi never ends.">Vist</span>, or <span title="Will the Gimz winz?">GimR</span>. As long as they place in the top 32, then they could potentially earn more points for you than more-popular Smashers.</big></p>

    <p><big>Therefore, there's no single best strategy for playing this game. You could bet conservatively and stick to the big names, you could go all-out YOLO and bet on the underdogs, or you could employ a mix of both strategies. The biggest factor is which Smashers others choose, and not just how these Smashers perform. It's wise to check back regularly as a Smasher's popularity may fluctuate frequently, which may influence your strategy.</big></p>
    
    <div class="text-center" style="margin-top:5vh">
        <a href="/login">
             <button class="btn btn-primary splash-btn">
                <big>CHOOSE YOUR SIX</big>
            </button>
        </a>
        
        <a href="/calculator">
            <button class="btn btn-info splash-btn">
                <big>CALCULATOR</big>
            </button>
        </a>
    </div>

    <p><small>Inspired by <a href="http://www.nytimes.com/2015/03/16/upshot/march-madness-welcome-to-a-different-kind-of-bracket.html">NYTimes' March Madness bracket</a> and <a href="http://smash.gg/">smash.gg's APEX 2015 and EVO 2015 fantasy draft</a>.</small></p>
</div>

<script src="/javascripts/splash.js"></script>
<script src="/javascripts/bganimation.js"></script>