<!-- Begin footer -->
<div class="footer">
	<footer class="container">
	    <p><a href="/about">About</a> | <a href="/contribute">Contribute</a> | <a href="/terms">Terms</a> | <a href="/contact">Contact</a>
	</footer>
</div>
<!-- End footer -->