<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>

<!-- JQuery -->
<script src="/components/jquery/dist/jquery.min.js"></script>

<!-- JSCookie -->
<script src="/components/js-cookie/src/js.cookie.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- X-editable -->
<link rel="stylesheet" href="/components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" />
<script src="/components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="/javascripts/x-editable-radiolist.js"></script>

<!-- Firebase -->
<script src="/components/firebase/firebase.js"></script>
<script src="/javascripts/firebaselogin.js"></script>

<!-- PT Sans Google Font -->
<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css' />

<!-- Sitewide CSS -->
<link rel="stylesheet" href="/stylesheets/style.css" />