<!DOCTYPE html>
<html>
	<head>
		<% include /partials/head.ejs %>
	</head>
	<body>
		<% include /partials/navbar.ejs %>
		<div class="container">
			<h1>About Fantasy Smash Bros</h1>

			<p><big>Fantasy Smash Bros was first conceived a few weeks before EVO 2015. The website first went live a week before EVO and drew 322 participants. Long story short, people who chose Leffen and Mango were sorely disappointed, and Chudat and Mr. R raked in a lot of points.</big></p>

			<p><big>For those who aren't familiar with the premise of Fantasy Smash Bros, <a target="_blank" href="/#explanation">go read this explanation</a>. The big idea is to choose Smashers who are underrated but still place in the top 32. The threshold for "underrated" changes depending on the popularity of each Smasher. The biggest factor in your strategy may turn out to be what others choose instead of how each Smasher performs in the actual tournament. If you want to crunch the numbers, <a target="_blank" href="/calculator">head on over to the calculator page</a>.</big></p>

			<p><big>I'm hoping to expand this project in the near future. If you know Node.js, Express.js, React.js, Bootstrap, or Firebase, <a target="_blank" href="/contribute">head on over to the contribution page for more information</a>.</big></p>

			<p><big>And feel free to check out my other projects on my <a target="_blank" href="https://github.com/andrewyang96/fantasy-smash-bros">Github profile</a> or on my <a target="_blank" href="http://yangmaster.com/">personal website</a>.</big></p>
		</div>
		<div class="navbar-fixed-bottom"><% include /partials/footer.ejs %></div>
	</body>
</html>
