<!DOCTYPE html>
<html>
	<head>
		<% include /partials/head.ejs %>
	</head>
	<body>
		<% include /partials/navbar.ejs %>
		<div class="container">
			<h1>About Fantasy Smash Bros</h1>

			<p><big>The idea of a fantasy league for Smash Bros tournaments — Fantasy Smash Bros — was first conceived a few weeks before EVO 2015. The website first went live a week before EVO and drew 322 participants. Now, in 2016, Fantasy Smash Bros is back and even better!</big></p>

			<p><big>For those who aren't familiar with the premise of Fantasy Smash Bros, <a target="_blank" href="/#explanation">go read this explanation</a>. The main idea is to choose Smashers who place in the top 32 and who are "underrated." As more people choose a particular Smasher, the score potential for each person who selected him/her decreases. The biggest factor in your strategy may turn out to be who others choose instead of how each Smasher performs in the actual tournament. If you want to crunch the numbers, <a target="_blank" href="/calculator">head on over to the calculator page</a>.</big></p>

			<p><big>I'm hoping to expand this project in the near future. If you know Node.js, Python, Golang, React.js, or Docker, <a target="_blank" href="/contribute">head on over to the contribution page for more information</a>.</big></p>

			<p><big>And feel free to check out my other projects on my <a target="_blank" href="https://github.com/andrewyang96/">Github profile</a> or on my <a target="_blank" href="http://andrewyang.xyz/">personal website</a>.</big></p>
		</div>
		<div class="navbar-fixed-bottom"><% include /partials/footer.ejs %></div>
	</body>
</html>
