<!DOCTYPE html>
<html>
	<head>
		<% include /partials/head.ejs %>
	</head>
	<body>
		<% include /partials/navbar.ejs %>
		<div class="container">
			<h1>Contribute to the project!</h1>

			<p><big>Fantasy Smash Bros has grown beyond my expectations and it has pushed my coding skills to the limit. (I suppose that's a good way to become good at coding.) However my code isn't perfect. If you know Node.js, Express.js, React.js, Bootstrap, or Firebase, <a target="_blank" href="https://github.com/andrewyang96/fantasy-smash-bros">please review my code and submit an issue and/or create a pull request</a>. Any help is much appreciated!</big></p>

			<p><big>If you notice anything off about the user interface, or if you have any questions/business inquiries/etc., you can <a target="_blank" href="/contact">contact me through email</a>.</big></p>

			<div class="text-center" style="margin-top:5vh">
				<div class="github-card" data-github="andrewyang96/fantasy-smash-bros" data-width="400" data-height="" data-theme="medium"></div>
	<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
			</div>
		</div>
		<div class="navbar-fixed-bottom"><% include /partials/footer.ejs %></div>
	</body>
</html>
