<!DOCTYPE html>
<html>
	<head>
		<% include /partials/head.ejs %>
	</head>
	<body>
		<% include /partials/navbar.ejs %>
		<div class="container">
			<h2>Here is the dashboard</h2>
		</div>
		<div class="navbar-fixed-bottom"><% include /partials/footer.ejs %></div>
	</body>
</html>
