<!DOCTYPE html>
<html>
	<head>
		<% include /partials/head.ejs %>
		<% include /partials/handlebars.ejs %>
		<% include /partials/flairs.ejs %>
	</head>
	<body>
		<% include /partials/navbar.ejs %>
		<div class="container">
			<h1>Available flairs</h1>

			<div id="flairsDemoTableTemplateView">
			<script id="flairsDemoTableTemplate" type="type/x-handlebars-template">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Description</th>
						<th>Class name</th>
						<th>Flair</th>
					</tr>
				</thead>
				<tbody>
				{{#each flairs}}
					<tr>
						<td>{{title}}</td>
						<td>{{@key}}</td>
						<td><span class="flair {{@key}}"></span></td>
					</tr>
				{{/each}}
				</tbody>
			</table>
			</script>
			</div>
		</div>
		<% include /partials/footer.ejs %>
		<script src="/javascripts/flairsdemo.js"></script>
	</body>
</html>
