<!DOCTYPE html>
<html>
	<head>
		<% include /partials/head.ejs %>
		<% include /partials/flairs.ejs %>
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body>
		<% include /content/login.ejs %>
	</body>
</html>
