<!DOCTYPE html>
<html>
	<head>
		<% include /partials/head.ejs %>
	</head>
	<body>
		<% include /partials/navbar.ejs %>
		<div class="container">
			<h1>Terms and Conditions</h1>

			<p><big>By participating in Fantasy Smash Bros, you agree to these Terms and Conditions outlined below.</big></p>

			<p><big>If you register an account on Fantasy Smash Bros, we will ask you to agree to these Terms and Conditions.</big></p>

			<p><big>You must be at least 13 years of age to use this website (per <a target="_blank" href="http://www.coppa.org">COPPA</a>); and by using our website or agreeing to these terms and conditions, you warrant and represent to us that you are at least 13 years of age.</big></p>

			<p><big>Our website uses cookies; by using our website or agreeing to these terms and conditions, you consent to our use of cookies in accordance with the terms of our Privacy Policy.</big></p>

			<p><big>This website is meant for human users only.</big></p>

			<hr>

			<h1>Privacy Policy</h1>

			<p><big>Fantasy Smash Bros uses the Firebase cloud services provider for its database and user management system. For their privacy policy, <a target="_blank" href="https://www.firebase.com/terms/privacy-policy.html">click on this link</a>.</big></p>

			<p><big>Fantasy Smash Bros collects your email address in order to verify your account, to recover your password, and (possibly in the future) to serve as a main point of contact for prizes. We do NOT give email addresses to any third parties, and we will NOT send spam emails.</big></p>

			<p><big>Fantasy Smash Bros also will store cookies. This site will not work properly if you have cookies disabled.</big>

			<hr>

			<h1>Copyright Info</h1>

			<p><big>Images are not mine. Contact me for sources.</big></p>

			<p><big>Copyright (c) 2015 Andrew Yang. <a target="_blank" href="http://opensource.org/licenses/MIT">MIT License</a>.</big></p>
		</div>
		<div class="navbar-fixed-bottom"><% include /partials/footer.ejs %></div>
	</body>
</html>
